json n8n/AsistenteIA1.json
{
  "name": "AsistenteIA1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crear-reunion-chat",
        "responseMode": "responseNode",
        "options": {
          "rawBody": "={\n  \"creador_id\": \"UUID-de-usuarios.id\",\n  \"creador_correo\": \"organizador@empresa.com\",\n  \"borrador\": {\n    \"tema\": \"Planificación\",\n    \"fecha_inicio\": \"2026-07-14T10:00:00-05:00\",\n    \"duracion_minutos\": 60,\n    \"tipo\": \"virtual\",\n    \"direccion\": null,\n    \"correos\": [\"equipo@empresa.com\"]\n  }\n}\n"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        -160
      ],
      "id": "695d0ce1-1954-4fc5-aff6-8caa362fb1e8",
      "name": "Webhook",
      "webhookId": "a4ef1a81-4e5d-4659-9412-7b039d5e486a"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $('Webhook').first().json.body;\nconst borrador = body.borrador;\n\nif (!body.creador_id || !body.creador_correo || !borrador) {\n  throw new Error(\"Faltan datos del creador o borrador para confirmar la reunión\");\n}\n\nreturn [{\n  json: {\n    creador_id: body.creador_id,\n    creador_correo: body.creador_correo.trim().toLowerCase(),\n    asunto: borrador.tema,\n    fecha_iso: borrador.fecha_inicio,\n    duracion_minutos: Number(borrador.duracion_minutos) || 60,\n    correos: Array.isArray(borrador.correos) ? borrador.correos : [],\n    nivel_minimo: null,\n    solo_este_nivel: false,\n    tipo: borrador.tipo || 'virtual',\n    direccion: borrador.direccion || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -144
      ],
      "id": "b83662bc-de26-45d1-83c8-9a17b5bab4ba",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1792,
        -112
      ],
      "id": "fc0d1bb3-b0f6-4540-b449-715d94aebab0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "15150fcc-f6a0-4089-9f84-984e83f893ec",
              "leftValue": "={{ $json.nivel_minimo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        -80
      ],
      "id": "498e4c1c-0db0-4fca-ba1c-a085366bd4ef",
      "name": "Hay nivel minimo?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6cbe059-99db-49dd-b994-7ad919f60cb0",
              "leftValue": "={{ $('Code in JavaScript').item.json.solo_este_nivel }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        -240
      ],
      "id": "cb5d6773-15b0-40f2-88d4-4d59b68b46ed",
      "name": "Solo ese nivel?"
    },
    {
      "parameters": {
        "url": "https://xbqonynkvjtnnovfgudi.supabase.co/rest/v1/usuarios",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "=id,correo,nivel_suscripcion"
            },
            {
              "name": "nivel_suscripcion",
              "value": "=eq.{{ $json.nivel_minimo }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -320
      ],
      "id": "851104d9-b72c-4571-8d91-b3eef7d50f9a",
        "name": "Supabase query EQ nivel exacto",
        "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://xbqonynkvjtnnovfgudi.supabase.co/rest/v1/usuarios",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "=id,correo,nivel_suscripcion"
            },
            {
              "name": "nivel_suscripcion",
              "value": "=in.({{$json.nivel_minimo}},enterprise)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        -80
      ],
      "id": "9304e694-62d9-4f79-9eee-5e72064cd4ba",
        "name": "Supabase query IN niveles superiores",
        "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const correos = $('Code in JavaScript').first().json.correos || [];\n\n// Siempre emitir al menos un item para que Merge no detenga el workflow.\nif (!Array.isArray(correos) || correos.length === 0) {\n  return [{ json: {} }];\n}\n\nreturn correos.map(correo => ({\n  json: {\n    correo: correo.trim().toLowerCase(),\n    id: null,\n    rol: 'participante'\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        160
      ],
      "id": "6ac7cd34-1338-444c-b3b7-7bd27a1ca46c",
      "name": "Supabase por correos mencionados"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        48
      ],
      "id": "44246740-7fb9-42b5-9c3b-2ebaf3dac169",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const request = $('Code in JavaScript').first().json;\nconst recipients = new Map();\n\nconst addRecipient = (correo, usuarioId, rol = 'participante') => {\n  if (!correo) return;\n  const key = correo.trim().toLowerCase();\n  const existing = recipients.get(key);\n  recipients.set(key, {\n    correo: key,\n    usuario_id: usuarioId || existing?.usuario_id || null,\n    rol: rol === 'organizador' ? 'organizador' : (existing?.rol || 'participante')\n  });\n};\n\n// El creador siempre queda registrado, incluso si no hay invitados externos.\naddRecipient(request.creador_correo, request.creador_id, 'organizador');\n\nfor (const item of $input.all().map(i => i.json)) {\n  addRecipient(item?.correo, item?.id || item?.usuario_id, item?.rol || 'participante');\n}\n\nreturn [{ json: { invitados_finales: [...recipients.values()] } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -112
      ],
      "id": "4fb4aa22-2571-4dc2-912e-908206b32e80",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "topic": "={{$node[\"Code in JavaScript\"].json.asunto}}",
        "additionalFields": {
          "duration": "={{$node[\"Code in JavaScript\"].json.duracion_minutos}}",
          "startTime": "={{$node[\"Code in JavaScript\"].json.fecha_iso}}"
        }
      },
      "type": "n8n-nodes-base.zoom",
      "typeVersion": 1,
      "position": [
        848,
        144
      ],
      "id": "23e9ed9d-fc9b-4227-83f7-aef751c84765",
      "name": "Create a meeting",
      "credentials": {
        "zoomOAuth2Api": {
          "id": "x6O1FaOSc5iXZYvZ",
          "name": "Zoom account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xbqonynkvjtnnovfgudi.supabase.co/rest/v1/rpc/crear_reunion_con_participantes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            },
            {
              "name": "Content-Type",
              "value": "=application/json"
            },
            {
              "name": "Prefer",
              "value": "=return=representation"
            },
            {
              "name": "Accept",
              "value": "application/vnd.pgrst.object+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_reunion: { creador_id: $('Code in JavaScript').item.json.creador_id, tema: $('Code in JavaScript').item.json.asunto, fecha_inicio: $('Code in JavaScript').item.json.fecha_iso, duracion_minutos: Number($('Code in JavaScript').item.json.duracion_minutos) || 60, proveedor: 'zoom', id_externo: $('Create a meeting').item.json.id || '', join_url: $('Create a meeting').item.json.join_url || '', start_url: $('Create a meeting').item.json.start_url || '', estado: 'programada', tipo: $('Code in JavaScript').item.json.tipo || 'virtual', direccion: $('Code in JavaScript').item.json.direccion || '' }, p_participantes: $('Code in JavaScript1').item.json.invitados_finales }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -16
      ],
      "id": "d156d3aa-f52d-4e1b-b279-805501884087",
      "name": "Insertar reunión en Supabase"
    },
    {
      "parameters": {
        "jsCode": "const rawResponse = $input.first().json;\nconst draft = $('Code in JavaScript').first().json;\nconst zoom = $('Create a meeting').first().json;\nconst recipients = $('Code in JavaScript1').first().json.invitados_finales || [];\n\n// PostgREST puede devolver el registro directamente, dentro de data/body o como array.\nconst findMeeting = (value) => {\n  if (Array.isArray(value)) return value.map(findMeeting).find(Boolean) || null;\n  if (!value || typeof value !== 'object') return null;\n  if (value.id || value.tema || value.fecha_inicio) return value;\n  for (const nested of Object.values(value)) {\n    const found = findMeeting(nested);\n    if (found) return found;\n  }\n  return null;\n};\n\nconst persisted = findMeeting(rawResponse) || {};\n\nreturn [{\n  json: {\n    estado: 'confirmada',\n    respuesta: 'Reunión creada correctamente.',\n    meeting: {\n      id: persisted.id || null,\n      tema: persisted.tema || draft.asunto,\n      fecha_inicio: persisted.fecha_inicio || draft.fecha_iso,\n      duracion_minutos: Number(persisted.duracion_minutos || draft.duracion_minutos || 60),\n      tipo: persisted.tipo || draft.tipo || 'virtual',\n      direccion: persisted.direccion || draft.direccion || null,\n      join_url: zoom.join_url || persisted.join_url || ''\n    },\n    destinatarios: recipients\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -16
      ],
      "id": "45c0c264-9b5a-4e29-b9d3-1a2f3c73b74c",
      "name": "Preparar respuesta confirmada"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xbqonynkvjtnnovfgudi.supabase.co/rest/v1/participantes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            },
            {
              "name": "Content-Type",
              "value": "=application/json"
            },
            {
              "name": "Prefer",
              "value": "=return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ reunion_id: $('Insertar reunión en Supabase').item.json.id, correo: $json.correo, usuario_id: $json.usuario_id || null, rol: $json.rol || 'participante', estado_invitacion: 'enviado' }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 0
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "position": [
        1376,
        -80
      ],
      "id": "cb554ec9-6a0b-4317-9cca-f5f87e1c86e8",
      "name": "Insertar Participantes"
    },
    {
      "parameters": {
        "jsCode": "const invitados = $('Code in JavaScript1').first().json.invitados_finales;\n\nif (!Array.isArray(invitados)) {\n  throw new Error(\"No se encontró invitados_finales o no es un array\");\n}\n\n// El organizador ya conoce la reunión; solo se envían correos a invitados externos.\nreturn invitados\n  .filter(inv => inv.rol !== 'organizador')\n  .map(inv => ({ json: { correo: inv.correo } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        176
      ],
      "id": "f4849834-2914-4d96-811b-17fadeb860b9",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "sendTo": "={{$('Code in JavaScript2').item.json.correo}}",
        "subject": "=Invitación: {{ $('Code in JavaScript').item.json.asunto }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #ffffff; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden;\"><div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center;\"><h1 style=\"color: #ffffff; margin: 0; font-size: 22px;\">📅 Invitación a Reunión</h1></div><div style=\"padding: 30px;\"><table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\"><tr><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; color: #666; font-size: 13px; width: 120px;\">Tema</td><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; font-weight: bold; font-size: 15px;\">{{ $('Create a meeting').item.json.topic }}</td></tr><tr><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; color: #666; font-size: 13px;\">Fecha</td><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; font-size: 15px;\">{{ $('Insertar reunión en Supabase').item.json.fecha_inicio ? $('Insertar reunión en Supabase').item.json.fecha_inicio.substring(8,10) + '/' + $('Insertar reunión en Supabase').item.json.fecha_inicio.substring(5,7) + '/' + $('Insertar reunión en Supabase').item.json.fecha_inicio.substring(0,4) : '' }}</td></tr><tr><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; color: #666; font-size: 13px;\">Hora</td><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; font-size: 15px;\">{{ $('Insertar reunión en Supabase').item.json.fecha_inicio ? $('Insertar reunión en Supabase').item.json.fecha_inicio.substring(11,16) + ' (GMT-5)' : '' }}</td></tr><tr><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; color: #666; font-size: 13px;\">Duración</td><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; font-size: 15px;\">{{ $('Create a meeting').item.json.duration }} minutos</td></tr></table><div style=\"text-align: center; margin: 25px 0;\"><a href=\"{{ $('Create a meeting').item.json.join_url }}\" style=\"display: inline-block; background: #667eea; color: #ffffff; text-decoration: none; padding: 14px 32px; border-radius: 6px; font-weight: bold; font-size: 15px;\">Unirse a la reunión</a></div><p style=\"color: #999; font-size: 12px; text-align: center; margin-top: 20px;\">Este enlace es personal. No lo compartas con otras personas.</p></div></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1600,
        144
      ],
      "id": "00201c3a-efd7-404e-b05d-baf3b444a8e8",
      "name": "Send a message",
      "webhookId": "6bc430e9-845d-44da-9193-b659116c9214",
      "credentials": {
        "gmailOAuth2": {
          "id": "caqikWiod2SsDRBR",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Supabase por correos mencionados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hay nivel minimo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay nivel minimo?": {
      "main": [
        [
          {
            "node": "Solo ese nivel?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solo ese nivel?": {
      "main": [
        [
          {
            "node": "Supabase query EQ nivel exacto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase query IN niveles superiores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase query IN niveles superiores": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase query EQ nivel exacto": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase por correos mencionados": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create a meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a meeting": {
      "main": [
        [
          {
            "node": "Insertar reunión en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar reunión en Supabase": {
      "main": [
        [
          {
            "node": "Preparar respuesta confirmada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar respuesta confirmada": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Participantes": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc101c4b-8657-4cc6-a3cf-375635acabeb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b582866040c56aac9e8d7d6633aa5356bd53c3511879912de77c3865953db37"
  },
  "id": "8lA5t19N7ZpbcEDV",
  "tags": []
}
