json n8n/AsistenteIA1.json
{
  "name": "AsistenteIA1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crear-reunion-chat",
        "responseMode": "responseNode",
        "options": {
          "rawBody": "={\n  \"creador_id\": \"UUID-de-usuarios.id\",\n  \"mensaje\": \"Programa una reunión mañana a las 11am por 60 minutos con asunto Ventas Q4 e invita a pro o superior y a ana@empresa.com\"\n}\n"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        -160
      ],
      "id": "695d0ce1-1954-4fc5-aff6-8caa362fb1e8",
      "name": "Webhook",
      "webhookId": "a4ef1a81-4e5d-4659-9412-7b039d5e486a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer TU_GROQ_API_KEY_AQUI"
              },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente que convierte solicitudes de reuniones en JSON estricto.\\n\\nHOY es {{ $now.format('yyyy-MM-dd') }} ({{ $now.format('EEEE') }}).\\nLa hora actual en America/Lima es {{ $now.setZone('America/Lima').format('HH:mm') }}.\\n\\nDevuelve SOLO JSON v\\u00e1lido, sin texto adicional.\\n\\nFormato esperado:\\n{\\n \\\"asunto\\\": string,\\n \\\"fecha_iso\\\": string (ISO 8601 en America/Lima),\\n \\\"duracion_minutos\\\": number,\\n \\\"correos\\\": string[],\\n \\\"nivel_minimo\\\": \\\"basico\\\" | \\\"pro\\\" | \\\"enterprise\\\" | null,\\n \\\"solo_este_nivel\\\": boolean\\n}\\n\\nREGLAS ESTRICTAS (son ORDENES, no sugerencias):\\n1. La hora la debes calcular DIRECTAMENTE en America/Lima. NO conviertas desde UTC.\\n2. Ejemplo: 4 pm en Lima es 16:00. El ISO ser\\u00eda \\\"HOY T16:00:00-05:00\\\".\\n3. 9 am en Lima es 09:00. El ISO ser\\u00eda \\\"HOY T09:00:00-05:00\\\".\\n4. USA la fecha HOY que te indique arriba.\\n5. Si el usuario dice \\\"ma\\u00f1ana\\\", suma 1 d\\u00eda a HOY.\\n6. Si dice \\\"el lunes\\\" etc., calcula la pr\\u00f3xima ocurrencia desde HOY.\\n7. Si no hay hora, asume 11:00.\\n8. Si no hay duraci\\u00f3n, usa 60.\\n9. Si no indica correos, devuelve [].\\n10. El offset SIEMPRE es -05:00.\\n11. NUNCA a\\u00f1adas explicaciones fuera del JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.body.mensaje) }}\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        -64
      ],
      "id": "1397d94c-449f-4b05-a961-1e75becc70ae",
      "name": "Groq API"
    },
    {
      "parameters": {
        "jsCode": "\nconst creador = $('Webhook').first().json.body.creador_id;\nconst groqResponse = $input.first().json;\nconst content = groqResponse.choices[0].message.content;\nconst parsed = typeof content === 'string' ? JSON.parse(content) : content;\n\nif (!creador) throw new Error(\"Falta creador_id\");\n\nreturn [{\n  json: {\n    creador_id: creador,\n    asunto: parsed.asunto,\n    fecha_iso: parsed.fecha_iso,\n    duracion_minutos: parsed.duracion_minutos,\n    correos: parsed.correos,\n    nivel_minimo: parsed.nivel_minimo,\n    solo_este_nivel: parsed.solo_este_nivel === true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -144
      ],
      "id": "b83662bc-de26-45d1-83c8-9a17b5bab4ba",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"meeting\": {\n    \"tema\": \"{{ $('Insertar reunión en Supabase').item.json.tema }}\",\n    \"fecha\": \"{{ $('Insertar reunión en Supabase').item.json.fecha_inicio ? $('Insertar reunión en Supabase').item.json.fecha_inicio.substring(8,10) + '/' + $('Insertar reunión en Supabase').item.json.fecha_inicio.substring(5,7) + '/' + $('Insertar reunión en Supabase').item.json.fecha_inicio.substring(0,4) : '' }}\",\n    \"hora\": \"{{ $('Insertar reunión en Supabase').item.json.fecha_inicio ? $('Insertar reunión en Supabase').item.json.fecha_inicio.substring(11,16) : '' }}\",\n    \"duracion\": {{ $('Insertar reunión en Supabase').item.json.duracion_minutos || 60 }},\n    \"join_url\": \"{{ $('Create a meeting').item.json.join_url }}\",\n    \"tipo\": \"virtual\"\n  },\n  \"destinatarios\": {{ JSON.stringify($('Code in JavaScript1').item.json.invitados_finales) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1792,
        -112
      ],
      "id": "fc0d1bb3-b0f6-4540-b449-715d94aebab0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "15150fcc-f6a0-4089-9f84-984e83f893ec",
              "leftValue": "={{ $json.nivel_minimo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        -80
      ],
      "id": "498e4c1c-0db0-4fca-ba1c-a085366bd4ef",
      "name": "Hay nivel minimo?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6cbe059-99db-49dd-b994-7ad919f60cb0",
              "leftValue": "={{ $('Code in JavaScript').item.json.solo_este_nivel }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        -240
      ],
      "id": "cb5d6773-15b0-40f2-88d4-4d59b68b46ed",
      "name": "Solo ese nivel?"
    },
    {
      "parameters": {
        "url": "https://xbqonynkvjtnnovfgudi.supabase.co/rest/v1/usuarios",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "=id,correo,nivel_suscripcion"
            },
            {
              "name": "nivel_suscripcion",
              "value": "=eq.{{ $json.nivel_minimo }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -320
      ],
      "id": "851104d9-b72c-4571-8d91-b3eef7d50f9a",
      "name": "Supabase query EQ nivel exacto"
    },
    {
      "parameters": {
        "url": "https://xbqonynkvjtnnovfgudi.supabase.co/rest/v1/usuarios",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "=id,correo,nivel_suscripcion"
            },
            {
              "name": "nivel_suscripcion",
              "value": "=in.({{$json.nivel_minimo}},enterprise)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        -80
      ],
      "id": "9304e694-62d9-4f79-9eee-5e72064cd4ba",
      "name": "Supabase query IN niveles superiores"
    },
    {
      "parameters": {
        "jsCode": "const correos = $('Code in JavaScript').first().json.correos || [];\n\nif (!Array.isArray(correos) || correos.length === 0) {\n  return [];\n}\n\nreturn correos.map(correo => ({\n  json: {\n    correo: correo.trim().toLowerCase(),\n    id: null\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        160
      ],
      "id": "6ac7cd34-1338-444c-b3b7-7bd27a1ca46c",
      "name": "Supabase por correos mencionados"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        48
      ],
      "id": "44246740-7fb9-42b5-9c3b-2ebaf3dac169",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().flatMap(i => i.json);\n\n// Convertir todo a lista de {correo, usuario_id}\nconst inviteList = data\n  .filter(i => i?.correo)\n  .map(i => ({\n    correo: i.correo.trim().toLowerCase(),\n    usuario_id: i.id || null   // <-- IMPORTANTE: aquí tomamos el ID si existe\n  }));\n\n// Eliminar duplicados por correo\nconst unique = [];\nconst seen = new Set();\n\nfor (const item of inviteList) {\n  if (!seen.has(item.correo)) {\n    seen.add(item.correo);\n    unique.push(item);\n  }\n}\n\n// Salida final en UN solo item\nreturn [{\n  json: {\n    invitados_finales: unique\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -112
      ],
      "id": "4fb4aa22-2571-4dc2-912e-908206b32e80",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "topic": "={{$node[\"Code in JavaScript\"].json.asunto}}",
        "additionalFields": {
          "duration": "={{$node[\"Code in JavaScript\"].json.duracion_minutos}}",
          "startTime": "={{$node[\"Code in JavaScript\"].json.fecha_iso}}"
        }
      },
      "type": "n8n-nodes-base.zoom",
      "typeVersion": 1,
      "position": [
        848,
        144
      ],
      "id": "23e9ed9d-fc9b-4227-83f7-aef751c84765",
      "name": "Create a meeting",
      "credentials": {
        "zoomOAuth2Api": {
          "id": "x6O1FaOSc5iXZYvZ",
          "name": "Zoom account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xbqonynkvjtnnovfgudi.supabase.co/rest/v1/reuniones",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            },
            {
              "name": "Content-Type",
              "value": "=application/json"
            },
            {
              "name": "Prefer",
              "value": "=return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creador_id\": \"{{$node['Code in JavaScript'].json.creador_id}}\",\n  \"tema\": \"{{$node['Code in JavaScript'].json.asunto}}\",\n  \"fecha_inicio\": \"{{$node['Code in JavaScript'].json.fecha_iso}}\",\n  \"duracion_minutos\": {{ $node['Code in JavaScript'].json.duracion_minutos ? parseInt($node['Code in JavaScript'].json.duracion_minutos) : 60 }},\n  \"proveedor\": \"zoom\",\n  \"id_externo\": \"{{ $node['Create a meeting'].json.id ? $node['Create a meeting'].json.id : '' }}\",\n  \"join_url\": \"{{ $node['Create a meeting'].json.join_url ? $node['Create a meeting'].json.join_url : '' }}\",\n  \"start_url\": \"{{ $node['Create a meeting'].json.start_url ? $node['Create a meeting'].json.start_url : '' }}\",\n  \"estado\": \"programada\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -16
      ],
      "id": "d156d3aa-f52d-4e1b-b279-805501884087",
      "name": "Insertar reunión en Supabase"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xbqonynkvjtnnovfgudi.supabase.co/rest/v1/participantes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhicW9ueW5rdmp0bm5vdmZndWRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyOTMyMTAsImV4cCI6MjA5ODg2OTIxMH0.TVhJn-bAGMGoteBHB9w8mH0N6rKbfdAnO-XiXfuIpS8"
            },
            {
              "name": "Content-Type",
              "value": "=application/json"
            },
            {
              "name": "Prefer",
              "value": "=return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"reunion_id\": \"{{ $('Insertar reunión en Supabase').item.json.id }}\",\n  \"correo\": \"{{$json.correo}}\",\n  \"usuario_id\": {{ $json.usuario_id || null }},\n  \"rol\": \"participante\",\n  \"estado_invitacion\": \"enviado\"\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 0
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "position": [
        1376,
        -80
      ],
      "id": "cb554ec9-6a0b-4317-9cca-f5f87e1c86e8",
      "name": "Insertar Participantes"
    },
    {
      "parameters": {
        "jsCode": "const invitados = $('Code in JavaScript1').first().json.invitados_finales;\n\nif (!Array.isArray(invitados)) {\n  throw new Error(\"No se encontró invitados_finales o no es un array\");\n}\n\nreturn invitados.map(inv => ({\n  json: {\n    correo: inv.correo || inv, // soporta ambos formatos\n    usuario_id: inv.usuario_id || null\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        176
      ],
      "id": "f4849834-2914-4d96-811b-17fadeb860b9",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "sendTo": "={{$('Code in JavaScript2').item.json.correo}}",
        "subject": "=Invitación: {{ $('Code in JavaScript').item.json.asunto }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #ffffff; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden;\"><div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center;\"><h1 style=\"color: #ffffff; margin: 0; font-size: 22px;\">📅 Invitación a Reunión</h1></div><div style=\"padding: 30px;\"><table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\"><tr><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; color: #666; font-size: 13px; width: 120px;\">Tema</td><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; font-weight: bold; font-size: 15px;\">{{ $('Create a meeting').item.json.topic }}</td></tr><tr><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; color: #666; font-size: 13px;\">Fecha</td><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; font-size: 15px;\">{{ $('Insertar reunión en Supabase').item.json.fecha_inicio ? $('Insertar reunión en Supabase').item.json.fecha_inicio.substring(8,10) + '/' + $('Insertar reunión en Supabase').item.json.fecha_inicio.substring(5,7) + '/' + $('Insertar reunión en Supabase').item.json.fecha_inicio.substring(0,4) : '' }}</td></tr><tr><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; color: #666; font-size: 13px;\">Hora</td><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; font-size: 15px;\">{{ $('Insertar reunión en Supabase').item.json.fecha_inicio ? $('Insertar reunión en Supabase').item.json.fecha_inicio.substring(11,16) + ' (GMT-5)' : '' }}</td></tr><tr><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; color: #666; font-size: 13px;\">Duración</td><td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0; font-size: 15px;\">{{ $('Create a meeting').item.json.duration }} minutos</td></tr></table><div style=\"text-align: center; margin: 25px 0;\"><a href=\"{{ $('Create a meeting').item.json.join_url }}\" style=\"display: inline-block; background: #667eea; color: #ffffff; text-decoration: none; padding: 14px 32px; border-radius: 6px; font-weight: bold; font-size: 15px;\">Unirse a la reunión</a></div><p style=\"color: #999; font-size: 12px; text-align: center; margin-top: 20px;\">Este enlace es personal. No lo compartas con otras personas.</p></div></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1600,
        144
      ],
      "id": "00201c3a-efd7-404e-b05d-baf3b444a8e8",
      "name": "Send a message",
      "webhookId": "6bc430e9-845d-44da-9193-b659116c9214",
      "credentials": {
        "gmailOAuth2": {
          "id": "caqikWiod2SsDRBR",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Groq API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq API": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Supabase por correos mencionados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hay nivel minimo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay nivel minimo?": {
      "main": [
        [
          {
            "node": "Solo ese nivel?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solo ese nivel?": {
      "main": [
        [
          {
            "node": "Supabase query EQ nivel exacto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase query IN niveles superiores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase query IN niveles superiores": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase query EQ nivel exacto": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase por correos mencionados": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create a meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a meeting": {
      "main": [
        [
          {
            "node": "Insertar reunión en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar reunión en Supabase": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Participantes": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Insertar Participantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc101c4b-8657-4cc6-a3cf-375635acabeb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b582866040c56aac9e8d7d6633aa5356bd53c3511879912de77c3865953db37"
  },
  "id": "8lA5t19N7ZpbcEDV",
  "tags": []
}