json n8n/procesar_resumen.json
{
  "name": "Procesar Resumen Virtual/Audio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "procesar-resumen",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1000, -200],
      "id": "p1",
      "name": "Webhook",
      "webhookId": "procesar-resumen"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json;\n// n8n Webhook encapsula los POST JSON dentro de `body`; conservar\n// compatibilidad con ejecuciones manuales que entregan el objeto directo.\nconst input = webhookData.body ?? webhookData;\nconst job_id = input.job_id;\nconst reunion_id = input.reunion_id;\nconst file_url = input.file_url;\nconst file_type = input.file_type || 'audio';\nconst callback_url = input.callback_url;\nconst callback_secret = input.callback_secret;\nif (!file_url) {\n  throw new Error('No se recibió file_url. Revisa que el backend envíe la URL firmada.');\n}\nreturn [{ json: { job_id, reunion_id, file_url, file_type, callback_url, callback_secret } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, -200],
      "id": "p2",
      "name": "Parse input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeVersion": 1},
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.file_type }}",
              "rightValue": "text",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-600, -200],
      "id": "p3",
      "name": "Is text?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.file_url }}",
        "options": {"responseFormat": "file"}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, -320],
      "id": "p4",
      "name": "Download text"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json;\nif (typeof text === 'string') {\n  return [{ json: { transcript: text } }];\n}\nconst keys = ['transcript', 'text', 'content', 'body'];\nfor (const key of keys) {\n  if (text[key]) {\n    return [{ json: { transcript: text[key] } }];\n  }\n}\nreturn [{ json: { transcript: JSON.stringify(text) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, -320],
      "id": "p5",
      "name": "Extract text"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.file_url }}",
        "options": {"responseFormat": "file"}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, -80],
      "id": "p6",
      "name": "Download audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $vars.GROQ_API_KEY }}"}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {"name": "url", "value": "={{ $('Parse input').first().json.file_url }}", "parameterType": "formData"},
            {"name": "model", "value": "whisper-large-v3-turbo", "parameterType": "formData"},
            {"name": "language", "value": "es", "parameterType": "formData"},
            {"name": "response_format", "value": "text", "parameterType": "formData"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, -80],
      "id": "p7",
      "name": "Transcribe audio"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst text = typeof data === 'string' ? data : (data.text || data.transcript || JSON.stringify(data));\nreturn [{ json: { transcript: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, -80],
      "id": "p8",
      "name": "Extract transcript"
    },
    {
      "parameters": {
        "jsCode": "const context = $('Parse input').first().json;\nconst transcript = $input.first().json.transcript || '';\nconst CHUNK_SIZE = 6000;\nconst OVERLAP = 300;\nif (transcript.length <= CHUNK_SIZE) {\n  return [{ json: { use_chunks: false, transcript, context } }];\n}\nconst chunks = [];\nlet start = 0;\nwhile (start < transcript.length) {\n  const end = Math.min(start + CHUNK_SIZE, transcript.length);\n  chunks.push(transcript.slice(start, end));\n  if (end === transcript.length) break;\n  start = end - OVERLAP;\n}\nreturn [{ json: { use_chunks: true, chunks, context } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, -200],
      "id": "p10",
      "name": "Prepare chunks"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeVersion": 1},
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.use_chunks }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals"}
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [360, -200],
      "id": "p11",
      "name": "Use chunks?"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst chunks = items.map(i => i.json).filter(j => j.chunks && j.chunks.length).flatMap(j => j.chunks);\nreturn chunks.map((chunk, idx) => ({ json: { chunk, index: idx + 1, total: chunks.length } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, -320],
      "id": "p12",
      "name": "Split items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $vars.GROQ_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente ejecutivo. Extrae de este fragmento de reuni\u00f3n: resumen_ejecutivo, decisiones, riesgos, proximos_pasos y tareas[{descripcion, responsable, fecha_vencimiento}]. Devuelve SOLO JSON v\u00e1lido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.chunk) }}\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, -320],
      "id": "p13",
      "name": "Summarize chunk"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst content = resp.choices?.[0]?.message?.content || resp;\nreturn [{ json: { partial: typeof content === 'string' ? content : JSON.stringify(content) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, -320],
      "id": "p14",
      "name": "Extract chunk json"
    },
    {
      "parameters": {
        "mode": "waitForAll"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1160, -320],
      "id": "p15",
      "name": "Wait chunks"
    },
    {
      "parameters": {
        "jsCode": "const partials = $input.all().map(i => i.json.partial || '').join('\\n\\n---\\n\\n');\nreturn [{ json: { combined: partials } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, -320],
      "id": "p16",
      "name": "Combine chunks"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $vars.GROQ_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Unifica estos res\u00famenes parciales en un acta corporativa \u00fanica. Devuelve SOLO JSON v\u00e1lido con: resumen, resumen_ejecutivo, decisiones, riesgos, proximos_pasos, tareas[{descripcion, responsable, fecha_vencimiento}].\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.combined) }}\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, -320],
      "id": "p17",
      "name": "Merge summaries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $vars.GROQ_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente ejecutivo. Redacta un acta corporativa en espa\u00f1ol a partir de la siguiente transcripci\u00f3n. Devuelve SOLO JSON v\u00e1lido con: resumen, resumen_ejecutivo, decisiones, riesgos, proximos_pasos, tareas[{descripcion, responsable, fecha_vencimiento}].\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.transcript) }}\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, -80],
      "id": "p18",
      "name": "Summarize direct"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst content = resp.choices?.[0]?.message?.content;\nlet parsed = {};\nif (typeof content === 'string') {\n  try { parsed = JSON.parse(content); } catch { parsed = {}; }\n}\nconst result = {\n  resumen: parsed.resumen || parsed.resumen_ejecutivo || content || '',\n  resumen_ejecutivo: parsed.resumen_ejecutivo || parsed.resumen || '',\n  decisiones: Array.isArray(parsed.decisiones) ? parsed.decisiones.join('\\n') : (parsed.decisiones || ''),\n  riesgos: Array.isArray(parsed.riesgos) ? parsed.riesgos.join('\\n') : (parsed.riesgos || ''),\n  proximos_pasos: Array.isArray(parsed.proximos_pasos) ? parsed.proximos_pasos.join('\\n') : (parsed.proximos_pasos || ''),\n  tareas: Array.isArray(parsed.tareas) ? parsed.tareas : []\n};\nconst context = $('Parse input').first().json;\nreturn [{ json: { ...result, job_id: context.job_id, callback_url: context.callback_url, callback_secret: context.callback_secret } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, -200],
      "id": "p20",
      "name": "Build callback"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "X-Callback-Secret", "value": "={{ $json.callback_secret }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": {{ JSON.stringify($json.job_id) }},\n  \"estado\": \"finalizado\",\n  \"resumen\": {{ JSON.stringify($json.resumen) }},\n  \"resumen_ejecutivo\": {{ JSON.stringify($json.resumen_ejecutivo) }},\n  \"decisiones\": {{ JSON.stringify($json.decisiones) }},\n  \"riesgos\": {{ JSON.stringify($json.riesgos) }},\n  \"proximos_pasos\": {{ JSON.stringify($json.proximos_pasos) }},\n  \"tareas\": {{ JSON.stringify($json.tareas) }}\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, -200],
      "id": "p21",
      "name": "Callback backend",
      "retryOnFail": true,
      "maxTries": 6,
      "waitBetweenTries": 10000
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Parse input", "type": "main", "index": 0}]]
    },
    "Parse input": {
      "main": [[{"node": "Is text?", "type": "main", "index": 0}]]
    },
    "Is text?": {
      "main": [
        [{"node": "Download text", "type": "main", "index": 0}],
        [{"node": "Transcribe audio", "type": "main", "index": 0}]
      ]
    },
    "Download text": {
      "main": [[{"node": "Extract text", "type": "main", "index": 0}]]
    },
    "Extract text": {
      "main": [[{"node": "Prepare chunks", "type": "main", "index": 0}]]
    },
    "Transcribe audio": {
      "main": [[{"node": "Extract transcript", "type": "main", "index": 0}]]
    },
    "Extract transcript": {
      "main": [[{"node": "Prepare chunks", "type": "main", "index": 0}]]
    },
    "Prepare chunks": {
      "main": [[{"node": "Use chunks?", "type": "main", "index": 0}]]
    },
    "Use chunks?": {
      "main": [
        [{"node": "Split items", "type": "main", "index": 0}],
        [{"node": "Summarize direct", "type": "main", "index": 0}]
      ]
    },
    "Split items": {
      "main": [[{"node": "Summarize chunk", "type": "main", "index": 0}]]
    },
    "Summarize chunk": {
      "main": [[{"node": "Extract chunk json", "type": "main", "index": 0}]]
    },
    "Extract chunk json": {
      "main": [[{"node": "Wait chunks", "type": "main", "index": 0}]]
    },
    "Wait chunks": {
      "main": [[{"node": "Combine chunks", "type": "main", "index": 0}]]
    },
    "Combine chunks": {
      "main": [[{"node": "Merge summaries", "type": "main", "index": 0}]]
    },
    "Merge summaries": {
      "main": [[{"node": "Build callback", "type": "main", "index": 0}]]
    },
    "Summarize direct": {
      "main": [[{"node": "Build callback", "type": "main", "index": 0}]]
    },
    "Build callback": {
      "main": [[{"node": "Callback backend", "type": "main", "index": 0}]]
    },
    "Callback backend": {
      "main": [[]]
    }
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "tags": []
}
